In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('home_data.csv')
df.head(10)

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213
5  53.426804  68.777596
6  61.530358  62.562382
7  47.475640  71.546632
8  52.550014  71.300880
9  45.419730  55.165677

In [3]:
df.shape

(99, 2)

In [4]:
x = df['x']
y = df['y']
x, y

(0     48.955889
 1     44.687196
 2     60.297327
 3     45.618644
 4     38.816818
         ...
 94    50.030174
 95    49.239765
 96    50.039576
 97    48.149859
 98    25.128485
 Name: x, Length: 99, dtype: float64,
 0     60.723602
 1     82.892504
 2     97.379897
 3     48.847153
 4     56.877213
         ...
 94    81.536991
 95    72.111832
 96    85.232007
 97    66.224958
 98    53.454394
 Name: y, Length: 99, dtype: float64)

In [5]:
m = 0
c = 0
l = 0.0001
n = int(len(x)) 
itr = 1000
for i in range(itr):
    y_pred = m * x + c 
    
    derivative_m = (-2/n) * sum(x * (y - y_pred))
    derivative_c = (-2/n) * sum(y - y_pred)
    
    m = m - l * derivative_m 
    c = c - l * derivative_c
    
print(f'{m} " " {c}')

1.4796491688881985 " " 0.10148121497503651

In [7]:
x = float(input("Enter value that you need to predict: "))
y = m * x + c
y

74.08393965938497